/* header ofertas */
@import "variables";
@import "media";
* {
    margin: 0;
    padding: 0;
    border: 0;
    
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
  } 


.header__menú{
    display: flex;
    justify-content: space-between;
  /*   padding-left: 2%;
    padding-right: 2%;   */
    align-items: center;
    background-color:transparent;
    width: 100%;
    max-width: 100%;
    height: auto;
.header__logo  {
text-align: center;

}
} 

/* menú de navegación */
$navbar-item:(
  1
  2
  3
  4
);

.navbar{
      background-color: transparent;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      text-align: center;
    /*   margin: 5% 0 5% 0; */  
      span{
          color: black;
      }
      a{
        text-decoration: none;
      }
      @each $nombre, $valor in $navbar-item {
        .nav-item#{$nombre} :hover{
          transform: scale(1.2);
          
        }
      }
      
      
      .nav-item1 img{
        height: auto;
        max-width: 30%;
        justify-self: center;
        
      }
      .nav-item2 {
        @extend .nav-item1;
        
      }
      .nav-item3{
        @extend .nav-item1;
        
      }
      .nav-item4{
        @extend .nav-item1;
        
      }
      .nav-item5{
        @extend .nav-item1;
        
      }
      
      .nav-item6{
        @extend .nav-item1;
        
      }
      
    }
      
        
        
 /* footer */
 .footer{
   color:black;
   max-width: 100%;
   height: auto;
   margin-top: auto;
   background-color: $colorFooter;
   span{
     color: black;
   }
   .container-footer{
    display: flex; 
    justify-content: space-around;
    .container1__footer__nosotros__mas-info{
     
    
      .container1__footer__nosotros{
        text-align: left;
      }
      .container1__footer__nosotros-p{
        text-align: left;
      }
      .container1__footer__mas-info{
        text-align: left;
        .btn-nosotos-leer-mas-cerrar{
          background-color: rgb(186, 178, 178);
        }
      }
    }
    .container2__footer__info__registro__redes{
         padding-left: 10%; 
      .container2__footer__registro{
        list-style: none;
        padding: 0;
        a{
          text-decoration:none;
          color: black;
        }
      }
      .container2__footer__redes{
        @extend .container2__footer__registro;
      }
    }
    .container3__footer__ubicacion__local__entregas {
       padding-left: 5%; 
      .container3__footer__ubicacion{
         padding-bottom: 1%; 
      }
      .container3__footer__local__entregas{
        ul{
         list-style: none;
         padding: 0;
         
         a{
           text-decoration: none;
        
         }
         .entregas{
           padding-top: 4%; 
         }
        }
      }
    }
  }
 }

 .tarjetas{
  grid-area: tarjetas;
  display: flex;
  max-width: 100%;
  height: auto;
  align-items: center;
  .tarjeta1 img{
    width: 100%;
    height: auto;

  } 
  .tarjeta2{
  @extend .tarjeta1;

  }
  .tarjeta3{
  @extend .tarjeta1;

  }
  .tarjeta4{
  @extend .tarjeta1;

  }
  .tarjeta5{
  @extend .tarjeta1;

  }
  .tarjeta6{
  @extend .tarjeta1;

  }
  .tarjeta7{
  @extend .tarjeta1;

  }
  .tarjeta8{
  @extend .tarjeta1;

  }
  .tarjeta9{
  @extend .tarjeta1;

  }
  .tarjeta10{
  @extend .tarjeta1;

  }
  .tarjeta11{
  @extend .tarjeta1;

  }
}
