@import "header-footer";
@import "variables";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    box-sizing: border-box;
  } 
   .container {
      width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: block;
  } 

.main__productos{
    text-align: center;

.main__productos p {
  color: black;
  text-decoration: transparent;
}
    .main__productos1 img{
        width: 100%;
        height: auto;
    }
.main__productos2{
    @extend .main__productos1;
    
}
.main__productos3{
    @extend .main__productos1;
    
}
.main__productos4{
    @extend .main__productos1;
    
}
.main__productos5{
    @extend .main__productos1;
    
}

}



.carrucel{
   margin-top: 5%;
   margin-bottom: 5%;
        h5{
            font-size: 30vh;
            font-style: italic;
            -webkit-text-stroke:0.09vh rgb(243, 118, 118) ;
            color:rgb(255, 157, 157);
           
        }
        

        .carousel-item img{
            height: 70vh;
           width: auto;
           
        }
        .carousel-item a{
          color: transparent;
        }
    }



/* ofertas */

@mixin btn ($colBorde, $colHover ){
    display: inline-block;
    padding: 0.3%;
    text-decoration: none;
    color: black;
    background-color:$colHover;
    border: $colBorde 2px solid;
}
.main__form__botones{

    .main__form__btn1{
        @include btn (green, transparent)
        
    }
    .main__form__btn1:hover{
        @include btn (black, rgb(169, 205, 218))
    }
    .main__form__btn2{
        @include btn (blue, transparent )
    }
    .main__form__btn2:hover{
        @include btn (black, rgb(232, 116, 116))
    }
    .main__form__btn3{
        @include btn ( rgb(232, 116, 116), transparent)
    }
    .main__form__btn3:hover{
        @include btn (black, rgb(235, 187, 99))
    }
}
#main-form{
border: rgb(169, 169, 169) 0.5px solid;
background-color: rgb(209, 248, 248);
    .main__form__ingrese__nombre{
        border: black solid 0.5px;
        cursor: text;
        background-color:transparent;
        padding:auto;
        color: gray;
        text-align: center;
        font-size: 84%;
        
    }
    .main__form__ingrese__apellido{
        @extend .main__form__ingrese__nombre;
    }
    .main__form__edad__numero{
        @extend .main__form__ingrese__nombre;
    }
    .main__form__email{
        @extend .main__form__ingrese__nombre;
    }
    .main__form__contraseña{
        @extend .main__form__ingrese__nombre;
    }
    .main__form__pais{
        @extend .main__form__ingrese__nombre;
    }
}
 $iconos-form:(
    vegano: lightgreen,
    sin-sulfatos: lightgreen,
    sin-parabenos: lightgreen,
    sin-crueldad:  lightgreen,
    1:Gray,
    2:Gray,
    3:Gray,
    4:Gray

 );
 .iconos{
     display: flex;
     justify-content: space-around;
     text-align: center;
     margin: 5% 0 5% 0;  
     
    
     @each $nombre, $valor in $iconos-form {
         .icono-#{$nombre}{
             border-right: $valor solid 0.5px;
             border-left: $valor solid 0.5px;
             
             
            }
            .icono-#{$nombre} img{
                width: 50%;
                height: auto;
            }
        }
    }