@charset "UTF-8";
/* header ofertas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__menú {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 100%;
  height: auto;
}

.header__menú .header__logo {
  text-align: center;
}

.navbar {
  background-color: transparent;
  border-radius: 5px;
}

.navbar .nav-item1 img, .navbar .nav-item2 img, .navbar .nav-item3 img, .navbar .nav-item4 img, .navbar .nav-item5 img, .navbar .nav-item6 img {
  height: auto;
  width: 30%;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* footer */
.footer {
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
  width: 100%;
  height: auto;
  margin-top: 10px;
  background-color: #101010;
}

.footer .footer__ubicacion {
  text-align: center;
}

.footer .footer__ubicacion__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__instagram {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__ubicacion a {
  color: white;
  text-decoration: none;
}

.footer .footer__nosotros {
  width: 33%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 20px;
}

.registrarme {
  width: 33%;
}

.registrarme a {
  color: white;
  text-decoration: none;
}

.tarjetas {
  grid-area: tarjetas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarjetas .tarjeta1 img, .tarjetas .tarjeta2 img, .tarjetas .tarjeta3 img, .tarjetas .tarjeta4 img, .tarjetas .tarjeta5 img, .tarjetas .tarjeta6 img, .tarjetas .tarjeta7 img, .tarjetas .tarjeta8 img, .tarjetas .tarjeta9 img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: block;
}

.main__productos {
  text-align: center;
}

.main__productos .main__productos p {
  color: black;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}

.main__productos .main__productos1 img, .main__productos .main__productos2 img, .main__productos .main__productos3 img, .main__productos .main__productos4 img, .main__productos .main__productos5 img {
  width: 100%;
  height: auto;
}

.carrucel {
  margin-top: 5%;
  margin-bottom: 5%;
}

.carrucel h5 {
  font-size: 30vh;
  font-style: italic;
  -webkit-text-stroke: 0.09vh #f37676;
  color: #ff9d9d;
}

.carrucel .carousel-item img {
  height: 70vh;
  width: auto;
}

.carrucel .carousel-item a {
  color: transparent;
}

/* ofertas */
.main__form__botones .main__form__btn1 {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: green 2px solid;
}

.main__form__botones .main__form__btn1:hover {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: #a9cdda;
  border: black 2px solid;
}

.main__form__botones .main__form__btn2 {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: blue 2px solid;
}

.main__form__botones .main__form__btn2:hover {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: #e87474;
  border: black 2px solid;
}

.main__form__botones .main__form__btn3 {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: #e87474 2px solid;
}

.main__form__botones .main__form__btn3:hover {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: #ebbb63;
  border: black 2px solid;
}

#main-form {
  border: darkgray 0.5px solid;
  background-color: #d1f8f8;
}

#main-form .main__form__ingrese__nombre, #main-form .main__form__ingrese__apellido, #main-form .main__form__edad__numero, #main-form .main__form__email, #main-form .main__form__contraseña, #main-form .main__form__pais {
  border: black solid 0.5px;
  cursor: text;
  background-color: transparent;
  padding: auto;
  color: gray;
  text-align: center;
  font-size: 84%;
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin: 5% 0 5% 0;
}

.iconos .icono-vegano {
  border-right: lightgreen solid 0.5px;
  border-left: lightgreen solid 0.5px;
}

.iconos .icono-vegano img {
  width: 50%;
  height: auto;
}

.iconos .icono-sin-sulfatos {
  border-right: lightgreen solid 0.5px;
  border-left: lightgreen solid 0.5px;
}

.iconos .icono-sin-sulfatos img {
  width: 50%;
  height: auto;
}

.iconos .icono-sin-parabenos {
  border-right: lightgreen solid 0.5px;
  border-left: lightgreen solid 0.5px;
}

.iconos .icono-sin-parabenos img {
  width: 50%;
  height: auto;
}

.iconos .icono-sin-crueldad {
  border-right: lightgreen solid 0.5px;
  border-left: lightgreen solid 0.5px;
}

.iconos .icono-sin-crueldad img {
  width: 50%;
  height: auto;
}

.iconos .icono-1 {
  border-right: Gray solid 0.5px;
  border-left: Gray solid 0.5px;
}

.iconos .icono-1 img {
  width: 50%;
  height: auto;
}

.iconos .icono-2 {
  border-right: Gray solid 0.5px;
  border-left: Gray solid 0.5px;
}

.iconos .icono-2 img {
  width: 50%;
  height: auto;
}

.iconos .icono-3 {
  border-right: Gray solid 0.5px;
  border-left: Gray solid 0.5px;
}

.iconos .icono-3 img {
  width: 50%;
  height: auto;
}

.iconos .icono-4 {
  border-right: Gray solid 0.5px;
  border-left: Gray solid 0.5px;
}

.iconos .icono-4 img {
  width: 50%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */