@charset "UTF-8";
/* header ofertas */
/* media index */
@media (min-width: 200px) and (max-width: 992px) {
  .menu-1 {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 992px) {
  .nav-item1 img, .navbar .nav-item2 img, .navbar .nav-item3 img, .navbar .nav-item4 img, .navbar .nav-item5 img, .navbar .nav-item6 img, .nav-item2 img, .nav-item3 img, .nav-item4 img, .nav-item5 img, .nav-item6 img {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 5500px) {
  .nav-item44, .nav-item55, .nav-item555, .nav-item66 {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__menú {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 100%;
  height: auto;
}

.header__menú .header__logo {
  text-align: center;
}

/* menú de navegación */
.navbar {
  background-color: transparent;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin: 5% 0 5% 0;
}

.navbar span {
  color: black;
}

.navbar a {
  text-decoration: none;
}

.navbar .nav-item1 :hover, .navbar .nav-item2 :hover, .navbar .nav-item3 :hover, .navbar .nav-item4 :hover, .navbar .nav-item5 :hover, .navbar .nav-item6 :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar .nav-item2 :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar .nav-item3 :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar .nav-item4 :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar .nav-item1 img, .navbar .nav-item2 img, .navbar .nav-item3 img, .navbar .nav-item4 img, .navbar .nav-item5 img, .navbar .nav-item6 img {
  height: auto;
  width: 30%;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* footer */
.footer {
  color: black;
  width: 100%;
  height: auto;
  margin-top: auto;
  background-color: #fa9a9a;
}

.footer span {
  color: black;
}

.footer .container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .container-footer .container1__footer__nosotros__mas-info {
  margin-left: 5%;
}

.footer .container-footer .container1__footer__nosotros__mas-info .container1__footer__nosotros {
  text-align: left;
}

.footer .container-footer .container1__footer__nosotros__mas-info .container1__footer__nosotros-p {
  text-align: left;
}

.footer .container-footer .container1__footer__nosotros__mas-info .container1__footer__mas-info {
  text-align: left;
}

.footer .container-footer .container1__footer__nosotros__mas-info .container1__footer__mas-info .btn-nosotos-leer-mas-cerrar {
  background-color: #bab2b2;
}

.footer .container-footer .container2__footer__info__registro__redes {
  padding-left: 10%;
}

.footer .container-footer .container2__footer__info__registro__redes .container2__footer__registro, .footer .container-footer .container2__footer__info__registro__redes .container2__footer__redes {
  list-style: none;
  padding: 0;
}

.footer .container-footer .container2__footer__info__registro__redes .container2__footer__registro a, .footer .container-footer .container2__footer__info__registro__redes .container2__footer__redes a {
  text-decoration: none;
  color: black;
}

.footer .container-footer .container3__footer__ubicacion__local__entregas {
  padding-left: 5%;
}

.footer .container-footer .container3__footer__ubicacion__local__entregas .container3__footer__ubicacion {
  padding-bottom: 1%;
}

.footer .container-footer .container3__footer__ubicacion__local__entregas .container3__footer__local__entregas ul {
  list-style: none;
  padding: 0;
}

.footer .container-footer .container3__footer__ubicacion__local__entregas .container3__footer__local__entregas ul a {
  text-decoration: none;
}

.footer .container-footer .container3__footer__ubicacion__local__entregas .container3__footer__local__entregas ul .entregas {
  padding-top: 4%;
}

.tarjetas {
  grid-area: tarjetas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarjetas .tarjeta1 img, .tarjetas .tarjeta2 img, .tarjetas .tarjeta3 img, .tarjetas .tarjeta4 img, .tarjetas .tarjeta5 img, .tarjetas .tarjeta6 img, .tarjetas .tarjeta7 img, .tarjetas .tarjeta8 img, .tarjetas .tarjeta9 img, .tarjetas .tarjeta10 img, .tarjetas .tarjeta11 img {
  width: 100%;
  height: auto;
}

/* media index */
@media (min-width: 200px) and (max-width: 992px) {
  .menu-1 {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 992px) {
  .nav-item1 img, .navbar .nav-item2 img, .navbar .nav-item3 img, .navbar .nav-item4 img, .navbar .nav-item5 img, .navbar .nav-item6 img, .nav-item2 img, .nav-item3 img, .nav-item4 img, .nav-item5 img, .nav-item6 img {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 5500px) {
  .nav-item44, .nav-item55, .nav-item555, .nav-item66 {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: block;
}

.main__productos {
  text-align: center;
  width: 100%;
  height: 100%;
}

.main__productos span {
  color: black;
}

.main__productos a {
  text-decoration: none;
}

.main__productos .main__productos1 img, .main__productos .main__productos2 img, .main__productos .main__productos3 img, .main__productos .main__productos4 img, .main__productos .main__productos5 img {
  width: 100%;
  max-height: auto;
}

/* carrucel */
.carrucel {
  margin-top: 2%;
  margin-bottom: 5%;
}

.carrucel h5 {
  font-size: 30vh;
  font-style: italic;
  -webkit-text-stroke: 0.09vh #f37676;
  color: #ff9d9d;
}

.carrucel .carousel-item img {
  height: 60vh;
  width: auto;
}

.carrucel .carousel-item a {
  color: transparent;
}

/* ofertas */
.main__form__botones .main__form__btn1 {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: gray 2px solid;
}

.main__form__botones .main__form__btn1:hover {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: #b8b8b8;
  border: black 2px solid;
}

.main__form__botones .main__form__btn2 {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: gray 2px solid;
}

.main__form__botones .main__form__btn2:hover {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: #b8b8b8;
  border: black 2px solid;
}

.main__form__botones .main__form__btn3 {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: gray 2px solid;
}

.main__form__botones .main__form__btn3:hover {
  display: inline-block;
  padding: 0.3%;
  text-decoration: none;
  color: black;
  background-color: #b8b8b8;
  border: black 2px solid;
}

#main-form {
  border: darkgray 0.5px solid;
  background-color: #ffbbbb;
}

#main-form .main__form__ingrese__nombre, #main-form .main__form__ingrese__apellido, #main-form .main__form__edad__numero, #main-form .main__form__email, #main-form .main__form__contraseña, #main-form .main__form__pais {
  border: black solid 0.5px;
  cursor: text;
  background-color: transparent;
  padding: auto;
  color: gray;
  text-align: center;
  font-size: 84%;
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin: 5% 0 5% 0;
  padding-left: 1%;
}

.iconos .icono-vegano {
  border-right: gray solid 0.5px;
  border-left: gray solid 0.5px;
}

.iconos .icono-vegano img {
  width: 50%;
  height: auto;
}

.iconos .icono-sin-sulfatos {
  border-right: gray solid 0.5px;
  border-left: gray solid 0.5px;
}

.iconos .icono-sin-sulfatos img {
  width: 50%;
  height: auto;
}

.iconos .icono-sin-parabenos {
  border-right: gray solid 0.5px;
  border-left: gray solid 0.5px;
}

.iconos .icono-sin-parabenos img {
  width: 50%;
  height: auto;
}

.iconos .icono-sin-crueldad {
  border-right: gray solid 0.5px;
  border-left: gray solid 0.5px;
}

.iconos .icono-sin-crueldad img {
  width: 50%;
  height: auto;
}

.iconos .icono-1 {
  border-right: Gray solid 0.5px;
  border-left: Gray solid 0.5px;
}

.iconos .icono-1 img {
  width: 50%;
  height: auto;
}

.iconos .icono-2 {
  border-right: Gray solid 0.5px;
  border-left: Gray solid 0.5px;
}

.iconos .icono-2 img {
  width: 50%;
  height: auto;
}

.iconos .icono-3 {
  border-right: Gray solid 0.5px;
  border-left: Gray solid 0.5px;
}

.iconos .icono-3 img {
  width: 50%;
  height: auto;
}

.iconos .icono-4 {
  border-right: Gray solid 0.5px;
  border-left: Gray solid 0.5px;
}

.iconos .icono-4 img {
  width: 50%;
  height: auto;
}

/* body carrito */
.body__carrito, .body-ofertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.body__carrito .main__carrito, .body-ofertas .main__carrito {
  max-width: 50%;
  margin: 0% auto;
}

.body__carrito .main__carrito .main__carrito__producto__precio, .body-ofertas .main__carrito .main__carrito__producto__precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3% auto;
}

.body__carrito .main__carrito .main__carrito__vacío__home, .body-ofertas .main__carrito .main__carrito__vacío__home {
  margin-top: 5%;
  text-align: center;
}

.body__carrito .main__carrito .main__carrito__vacío__home strong, .body-ofertas .main__carrito .main__carrito__vacío__home strong {
  border: 1px solid black;
  padding: 0.5%;
}

.body__carrito .main__carrito .main__carrito__vacío__home a, .body-ofertas .main__carrito .main__carrito__vacío__home a {
  color: black;
  text-decoration: none;
}

.body__carrito .main__carrito .main__carrito__vacío__home a :hover, .body-ofertas .main__carrito .main__carrito__vacío__home a :hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: gray;
}

.tarjeta__container__producto {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 90%;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */